name: Enrich List

on:
  schedule:
    - cron: '0 */2 * * *'
  workflow_dispatch:

jobs:
  enrich:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Install awelist
        run: go install github.com/0xmzn/awelist/cmd/awelist@latest
        env:
          GOPROXY: direct

      - name: Enrich List
        run: awelist enrich
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITLAB_TOKEN: ${{ secrets.GITLAB_TOKEN }}

      - name: Commit awesome-lock.json
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: update awesome-lock.json [skip ci]"
          file_pattern: 'awesome-lock.json'
